<h2>Условия</h2>

{# Проверка условий #}
{% if auth %}
    Добро пожаловать {{ name }}
{% else %}
    <form action="">
        <input type="text">
        <input type="password">
        <input type="submit">
    </form>
{% endif %}

{# Тернарник #}
{{ value == 23 ? '23' : 'not 23' }} <br>

{# Определена ли переменная #}
{{ test ?? 'Значение, если test не существует' }}