<h2>Циклы</h2>

{# Цикл for по массиву #}
<ul>
    {% for item in menuItems %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>

{# Цикл for с доступом к ключам #}
    {% for key, item in arrKeys %}
        Ключ: {{ key }} Значение: {{ item }} <br>
    {% endfor %}
